.container{
  justify-items: center;
  width:100%;
}
.container mat-form-field + mat-form-field {
    margin-left: 2px;
}

table {
  width: 100%;
}

.tabella{
  margin: auto;
  margin-bottom:5%;
  width: 70%;
  margin-top: 5%;
}

.mat-elevation-z8{
overflow-x:auto;
width: 100%;
}
.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}
