<div class="container-fluid px-4">
  <h1 class="mt-4">Logistica</h1>
  <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item active">Logistica</li>
  </ol>
</div>
<div class="container">
<button  mat-raised-button class="color" (click)="componentView('lFornitori')">FORNITORI</button>
<hr class="separator">
<button  mat-raised-button class="color" (click)="componentView('lMagazzino')">MAGAZZINO</button>
<hr class="separator">
<button  mat-raised-button class="color" (click)="componentView('lSpedizioni')">SPEDIZIONI</button>
</div>
