
<div class="container-fluid px-4">
  <h1 class="mt-4">Bilancio</h1>
  <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item active">Calcola bilancio</li>
  </ol>
</div>
<div class="options">

  <mat-form-field  appearance="fill">
    <mat-label>Filiale</mat-label>
    <mat-select [(ngModel)]="filiale">
      <mat-option *ngFor="let f of filiali" [value]="f" >{{f.id}}</mat-option>
    </mat-select>
  </mat-form-field>
  <button id="bottone" mat-raised-button class="color" (click)="calcolaBilancio()">CALCOLA</button>
</div>
  <div class="container"></div>
  <div class="tabella">
<mat-form-field>
    <mat-label>Ricerca</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Cerca" #input>
  </mat-form-field>
  <div class="mat-elevation-z8">
    <table mat-table matSort [dataSource]="dataSource">

      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome </th>
        <td mat-cell *matCellDef="let row">{{row.id}} </td>
      </ng-container>

      <!-- Progress Column -->
      <ng-container matColumnDef="citta">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Città </th>
        <td mat-cell *matCellDef="let row">{{row.citta}} </td>
      </ng-container>
      <ng-container matColumnDef="bilancio">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Bilancio </th>
        <td mat-cell *matCellDef="let row">{{row.bilancio}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">Nessun risultato per "{{input.value}}"</td>
      </tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Seleziona pagina di utenti"></mat-paginator>

  </div>
</div>



