<div class="container-fluid px-4">
  <h1 class="mt-4">Amministrazione</h1>
  <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item active">Amministrazione</li>
  </ol>
</div>
<div class="container">
<button mat-raised-button class="color" (click)="componentView('aIncassi')">INCASSI</button>
<hr class="separator">
<button mat-raised-button class="color" (click)="componentView('aSpese')">SPESE</button>
<hr class="separator">
<button mat-raised-button class="color" (click)="componentView('aSA')">STIPENDI AMMINISTRAZIONE</button>
<hr class="separator">
<button mat-raised-button class="color"(click)="componentView('aSL')">STIPENDI LOGISTICA</button>
<hr class="separator">
<button mat-raised-button class="color" (click)="componentView('aST')">STIPENDI TESORERIA</button>
</div>

