table {
  width: 100%;
}

.mat-elevation-z8{
overflow-x:auto;
width: 100%;
}
.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

.tabella{
  margin: auto;
  width: 70%;
  margin-bottom: 5%;
}

.container{
justify-items: center;
width: 100%;
}

.color{
  background-color: #343a40;
  color:white;
  margin: 10px 0;
  font-size: 15px;
  width: 30%;
  height: 100%;
  position: relative;
  left: 8px;
}
